@media screen and (max-width:576px) {
   
   nav,
    .nav-section,
    .navlink-section >ul,
    .banner-section{
        flex-direction: column;
    }
    
nav{
    height: 300px;
}
    .nav-section img{
        margin-top: 20px;

    }
.banner-section{margin-top: 10px;}
    .navlink-section li  {
        margin: 24px auto;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .navlink-section .btn{
        margin-top: 0;
    }
 
    .banner-text{
        width: 100%;
        margin-top: 10px;
    }
    .banner-text h2{
        margin: 0px 50px;
    }

    .banner-text h1{
        margin: 0px 33px;
    }


    .banner-text p{
        margin: 15px 42px;
    }

    .banner-text .primary-btn1  {
        margin: 0px 10px 0px 25px;
        padding: 14px 30px;
    }
    .banner-text .primary-btn2 {
        margin: 0;
        padding: 14px 30px;
    }

    .banner-img {
width: 90%;
    }
}

/* header end */

@media screen and (max-width:576px) {
    .we-are-gamer{
        flex-direction: column-reverse;
        margin: 0;
    }
    .we-are-gamer-text {
        text-align: center;
    }

    .small-text .primary-text {
        text-align: center;
    }
    .we-are-gamer-text h4{
        text-align: center;
    }

    .we-are-gamer-descripton {
        margin: 0px -144px -7px 30px;
    }
    .we-are-gamer-img{
        width: 100%;
        align-items: center;
    }
  
    .online-card{
        flex-direction: column;
    }

    /* play-instantly */
.playbox{
    position: absolute;
    top: 1100%;
}

    .play-instantly{
        flex-direction: column;
        height: 0;
        
    }

    .play-text{
        text-align: center;
        margin-left: 20px;
       
    }
.paly-img{
    width: 260px;
}
    .paly-img img{
        height: 260px;
        position: absolute;
        top:150px;
        right: 105px;
    }

    .paly-short-img img{
        height:145px;
        padding: ;
    }

        .paly-short-img {
            position: relative;
            bottom: -28px;
            right: 105px;
        }

    /* images-box-1 */

        .images-box-1,
        .images-box-2{
            flex-direction: column;
        }


        .images{
            width: 500px;
            position: absolute;
            top: 1300%;
            margin-left: 50px;
        }





















        /* footer */

        .footer-section{
            position: absolute;
            top: 1700%;
        }

        .footer-hadding{
            height: 750px;
        }
        
        .game-manu{
            flex-direction: column;
            
            align-items: center;
            justify-content: space-around;
           
        }
        
        .icon-manu{
            padding: 3rem;
            
        }

        .privacy-manu{
            margin-top: -20px;
            margin-bottom: 20px;
        }

        
        .copy-text a{
            font-size: 0.6rem;
        }




        
    }



